@page
@model Articulate.Views.Echo.Index

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>Path: @ViewContext.HttpContext.Request.Path</div>
<div>Base Path: @ViewContext.HttpContext.Request.PathBase</div>
</body>
</html>