@inject AppEnv _app
<p>To get this sample working you need to create and bind to an instance of Eureka. Perform the following steps: </p>
<ol>
    <li class="alert-warning">TODO: Add TAP instructions</li>
</ol>