@{
    Layout = null;
}
<p>Publish the app</p>
<p><code>dotnet publish</code></p>
<p>Deploy with included manifest</p>
<p><code>cf push</code></p>
<p>Some demos require app to be deployed multiple times, or services to be bound. You can build and deploy
    everything using simplified build script: <code>build.sh</code> or <code>build.ps1</code>.
    You'll be prompted for required parameters</p>
<p>Compile: <code>build.sh Pack</code></p>
<p>Deploy: <code>build.sh Deploy</code></p>